<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">
            &copy; D&R Kitap Satış 2023 | Created by
            <a href="https://www.github.com/Sedat-Ayyildiz" class="text-decoration-none">Sedat Ayyıldız</a>
        </p>
    </div>
</footer>